<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br></br>

<strong>Addresses of <%= @user.name %>:</strong><br>

<% @addresses.each do |address| %>
	<%= address.street %> <%= address.number %>, <%= address.zipcode %>
	<%= link_to 'Edit', edit_user_address_path(@user,address) %>
	<%= link_to 'Destroy',[@user, address], method: :delete, data: { confirm: 'Are you sure?' } %>
	<br>
	
<% end %>
<br>
<%= link_to 'Add Address', new_user_address_path(@user) %>

